:root {
    --header-background: #012d63;
    --header-color: #C7C7C7;
    --language-color: #dcdcdc;
    --hero-btn: #8e32c6;
    --reviews-date: #d8d8d8;
    --order-item: #959595;
    --footer-beckground: #021635;
    --order-button: #8d8d8d;
    --accent-color: #fff;
}