.main-line {
    width: 1440px;
    height: 2px;
    background: var(--accent-color);
    padding-bottom: 1px;

}



.main-reviews {
    background-image: url(../img/reviews-background.jpg);
    padding-top: 24px;
    padding-bottom: 114px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.reviews-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 93px;

}

.reviews-item-john {
    background-image: url(../img/johnback.jpg);
    width: 255px;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;

}

.reviews-item-elizabeth {
    background-image: url(../img/elizabetback.jpg);
    width: 255px;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;

}

.reviews-item-tom {
    background-image: url(../img/tomback.jpg);
    width: 255px;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;

}


.reviews-title {
    color: var(--accent-color);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    margin-bottom: 24px;


}



.reviews-caption {
    color: var(--accent-color);
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    width: 228px;

}

.reviews-tex {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 47px;
}

.reviews-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reviews-img {
    border-radius: 31px;
    width: 31px;
    height: 31px;

}

.reviews-head {
    color: var(--accent-color);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;

}

.reviews-text {
    color: var(--reviews-date);
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;

}

.main-border {
    width: 1440px;
    height: 2px;
    background: var(--accent-color);

}